<hgroup>
    <h1>Error.</h1>
    <h2>This account already exists. Please try again with a different email.</h2>
    <h2>To review an existing account use the search bar at the top of the page</h2>
</hgroup>